<%- include('partial/header'); -%>

<div class="login">
    <h2>Login into your account</h2>
    <form action="" method="post"  id="EmailLogin">
        <input type="email" placeholder="Email"  autocomplete="on" name="username">
        <input type="password" name="password" placeholder="Password" autocomplete="on">
        <button type="submit" id="btn">Login</button>
        <span id="txt"></span>
        <a href="/register">don't have an account? sign</a>
    </form>
</div>

<%- include('partial/footer'); -%>