*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    backdrop-filter: blur(1px);
    color: #eafbfb;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
    height: 100dvh;
}
button{
    background-color: rgba(8, 8, 143, 0.642);
    color: #eafbfb;
    font-weight: 400;
    font-size: 20px;
    outline: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.icon{
    background-color: rgba(4, 59, 74, 0.742);
    display: inline-flex;
    padding: 10px;
    color: #eafbfb;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* email page  */
.login{
    box-shadow: 0 0 .5em #eafbfb;
    border-radius: 10px;
    padding: 2em 20px ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(2px);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.login a{
    color: #eafbfb;
    font-size: 11px;
    font-weight: 200;
    text-decoration: none;
    font-family: monospace;
}
.login a:hover{
    text-decoration: underline;
}
input{
    color: #eafbfb;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    padding: 5px 10px;
    border: 1px solid #eafbfb;
    line-height: 2;
    width: 100%;
    font-size: 16px;
}
button[type="submit"]{
    background-color: blue;
    width: 100%;
    outline: none;
    border: none;
    padding: 13px 0;
    font-size: 16px;
}
button[type="submit"]:focus{
    background-color: rgb(39, 39, 250);
}
h2{
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 1.3em;
    font-family: monospace;
}
#txt{
    font-size: 10px;
    letter-spacing: 1px;
    margin: 10px 0;
    font-family: monospace;
    transition: 1s;
}